/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #9ed8ff;
    font-family: 'Josefin Sans', sans-serif;
}
.contenitore-principale{
    width: 70%;
    margin: auto;
}
/* Titoli */
.contenitore-titoli{
    margin-top: 60px;
}
h2, .bottone{
    margin: 30px 0;
}
/* /Titoli */

/* Immagine */
.contenitore-img{
    display: flex;
    justify-content: center;
}
.contenitore-img img{
    width: 600px;
    margin: 30px 0;
}
.contenitore-img-footer{
    display: flex;
    justify-content: center;
}
.contenitore-img-footer img{
    width: 400px;
    margin: 30px 0;
}
.footer-bottom{
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}
.footer-bottom:hover i{
    color: red;
}
/* /Immagine */

/* Testo */
#titolo, #titolo2, #titolo3, #titolo4, button{
    background-color: ivory;
    border: 5px double #EA9491;
    border-radius: 30px;
    padding: 10px 15px;
}
/* /Testo */

/* Button */
button:hover{
    opacity: 0.8;
    background-color: pink;
    transform: scale(1.2);
    color: white;
}
button a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.bottone{
    display: flex;
    justify-content: center;
}
/* /Button */
